body {
    background-color: #F1FBF2;
}

.container-md {
    text-align: center;
    background-color: #F1FBF2;

}

.div1 h1 {
    font-size: 65px;
    font-family: 'Girassol', cursive, Helvetica, sans-serif;
    font-weight: 300;
     
}

.div1 h2 {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
        
}

.div2 p {
border-style: solid;
border-width: 5px;
border-color: #8af291;
border-radius: 25px;
font-size: 24px;
font-family: Arial, Helvetica, sans-serif;
font-weight: 600;
background-color: #C5FCCC;
color: #053400;
}


.high-scores {
    color: black;
}